@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Variable.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  font-family: "General Sans", sans-serif;
  background-image: radial-gradient(#ccc 1px, transparent 0);
  background-size: 20px 20px;
}
