@import url('./_animations.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Variable.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* div SCROLLBAR PAGE EDDIT */

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}






body {
  background: var(--background);
  font-family: "General Sans", sans-serif;
  background-image: radial-gradient(#ccc 1px, transparent 0);
  background-size: 20px 20px;
}
